.detailPageWrapper {
  max-width: 800px;
  margin: 0px auto;
  padding: 30px;
  background-color: #9edfe5cc;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.backButton {
  margin-top: 30px;
  text-align: right;
}
