:root {
  --primary-color: #097896;
  --secondary-color: #f6f3f3;
  --dark-color: #0b575d;
  --light-color: #03a9f4;
  --highlight-color: #ffa500;
  --neutral-color: #ffdb99;
  --disabled-color: #868a94;
}

body {
  background-image: url("../assets/calm-lake.jpg");
  background-repeat: no-repeat;
}

main {
  padding: 80px 30px;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

h1,
h2,
h3,
p,
figure {
  margin: 5px 0px;
}
